<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ckodex.skillsdaemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/skills-daemon</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.ckodex.skillsdaemon</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.ckodex.skillsdaemon.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.ckodex.skillsdaemon.out</string>
</dict>
</plist>
